@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700');
@import "variables";
@import "normalize";
@import "style";
@import "slick", "slick-theme";

*, *:after, *:before {
  margin: 0;
  box-sizing: border-box;
}

body, div, ul, li, nav, p, a, img, input, span,
form, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1600px;
  color: $white-color;
  font-size: $main-size;
  font-family: $book-font;
  line-height: $main-height;
  text-transform: uppercase;
  display: block;
}

.ba-projects-text {
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  color: $sans-color;
  line-height: $med-height;
  font-size: $main-size;
}

.ba-projects-btn {
  margin-top: 40px;
  width: 195px;
  height: 50px;
  border: 1px solid $bold-color;
  background-color: $white-color;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  font-size: $small-size;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
}

/***-------------------HEADER ***/
.ba-header {
  min-height: 100vh;
  background: url("../img/bgheaderrow.png") no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-bottom: 100px;

  .ba-header-nav {
    height: 70px;
    width: 85%;
    padding-top: 1.5%;
    padding-left: 10%;
    font-size: $small-size;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 27%;
      padding-right: 9%;
    }
    &__menu {
      width: 57%;
      .menu {
        padding-right: 10%;
      }
    }
  }
  .ba-header-slaid img {
    position: relative;
    top: -20px;
  }
  .ba-contaiter-h {
    position: absolute;
    height: 600px;
    width: 990px;
    margin-left: 350px;
    top: 270px;

    .ba-header-title {
      font-size: $big-size;
      letter-spacing: 4px;
      font-weight: bold;
    }
    .ba-header-slogan {
      font-size: $main-size;
      letter-spacing: 5.4px;
    }
  }
  .ba-header-arrow {
    position: absolute;
    left: 50%;
    bottom: 40px;
  }
  .ba-header-slaider .slick-dots {
    right: -90px;
    top: 40%;
    width: 270px;
    bottom: auto;
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/***-------------------PROJECTS***/
.ba-projects {
  color: $bold-color;
  text-align: center;

  .line {
    margin-left: 47%;
    height: 2px;
    width: 100px;
    border-bottom: 3px solid $bold-color;
  }
  .title {
    font-size: $bold-size;
    padding: 30px 0 70px;
  }
  .ba-projects-wrapper {
    display: flex;
    flex-grow: 1;
    margin-top: 95px;
    margin-bottom: 210px;

    .ba-projects-square {
      width: 53%;
      position: relative;
    }
    #sl2 {
      margin-left: 13%;
    }
    div[class*=" square-"] {
      width: 585px;
      height: 470px;
    }
    .square-frame {
      background-color: $footer-color;
      position: absolute;
    }
    .square-img {
      background: $bold-color url(../img/joel-filipe-151697.png) 50% no-repeat;
      position: relative;
      left: 215px;
      bottom: -73px;
    }
    .square-frame2 {
      background-color: #7e5aff;
      position: absolute;
      right: 0;
    }
    .square-img2 {
      background: $bold-color url(../img/photos-1284iH4Hjf4mhNgW.png) 50% no-repeat;
      position: absolute;
      right: 220px;
      top: 71px;
    }
  }
  .ba-projects-article {
    width: 37%;
    margin-right: 11%;
    margin-top: 132px;
    text-align: left;
    position: relative;

    .ba-projects-caption {
      font-size: $medium-size;
      line-height: $reg-height;
    }
    .ba-projects-subtitle {
      font-size: $bold-size;
      line-height: $reg-height;
      text-align: left;
      margin-bottom: 30px;
    }
    .none {
      display: none;
    }
    .ba-projects-city {
      margin-top: 48px;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      text-transform: none;
      line-height: $med-height;
    }

    .fa-map-marker {
      color: $bold-color;
      font-size: $main-size;
    }
  }
}

/***-------------------NEWS***/
.row {
  padding: 140px 0 110px;
}

.ba-news {
  background: url("../img/bgslaider.png") no-repeat;
  background-size: cover;
  //overflow: hidden;

  .ba-news-slide {
    color: $white-color;

    .line {
      border-color: #FFFFFF;
    }
    .ba-news-wrapper {
      margin: auto;
      width: 68%;
      height: 550px;
      position: relative;
      .ba-news-block {
        margin-right: 20px;
        width: 369px;
        height: 520px;
        background-color: $white-color;
        color: $sans-color;

        &__img {
          width: 100%;
          height: 240px;
          position: relative;

          .img-rectangl {
            width: 80px;
            height: 80px;
            position: absolute;
            background-image: url("../img/Rectangl.png");
            top: 35%;
            left: 36%;
          }
        }
        .ba-news-block__info {
          color: $bold-color;
          padding-top: 20px;
          padding-left: 20px;
          text-align: left;

          & h3 {
            font-size: $medium-size;
            line-height: $big-height;
            padding-bottom: 20px;
          }
          .ba-news-author {
            padding-top: 30px;
            .author-img {
              float: left;
              padding-right: 25px;
            }
            .author-info {
              color: $sans-color;
            }
            .author-date {
              font-size: $small-size;
              color: $data-color;
            }
          }
        }
      }

    }
  }
}

/***-------------------GALLERY ***/
.ba-gallery-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 74%;
  height: 450px;
  position: relative;

  & img {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .ba-gallery-360 {
    width: 80px;
    height: 80px;
    background: url("../img/360.png");
    position: absolute;
    left: 21%;
    top: 37%;
  }
  float: none;
}

.ba-gallery .ba-projects-btn {
  margin: 0 auto;
}

/***-------------------MAP ***/

#map {
  height: 705px;
  width: 100%;
}

.ba-map-wrapper {
  position: relative;

  .ba-card {
    background: url("../img/bgcontact.png") no-repeat;
    width: 770px;
    height: 455px;
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 23%;
    padding: 60px 75px 75px;

    .line {
      margin-left: 42%;
    }
    .title {
      padding-bottom: 40px;
      margin: 0;
    }
    .contact, .submit {
      line-height: 50px;
      text-transform: none;
      text-align: left;
    }
    .contact {
      width: 50%;
      float: left;
      .fa {
        color: $icons-color;
      }
    }
    .submit {
      width: 100%;
      position: relative;

      .submit-line {
        width: 50%;
        border-bottom: 1px solid $sans-color;
        display: inline-block;
      }
      input[type='text'] {
        border: none;
        height: 34px;
      }
      .forInput {
        opacity: 0.5;
      }
      input[placeholder]:focus {
        color: $icons-color;
      }
      input:focus:-moz-placeholder {
        color: $icons-color;
      }
      .ba-projects-btn {
        width: 140px;
        position: absolute;
        right: 0;
      }
    }
  }
}

/***-------------------FOOTER ***/
.ba-footer {
  height: 525px;
  background: url("../img/bgfooter.png") no-repeat;
  background-size: cover;
  position: relative;
  padding: 205px 26% 0;

  .logo {
    position: absolute;
    left: 26%;
  }
  .ba-social {
    position: absolute;
    right: 26%;
  }
  .ba-footer-Copyright {
    width: 65%;
    padding-top: 100px;
    color: $white-color;
    font-size: $small-size;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ba-footer-logo {
      display: inline-block;
      cursor: pointer;
      padding-right: 5%;
    }
    .made {
      padding-left: 5%;
      border-left: 1px solid $white-color;
    }
  }
}

/*---SCROLL UP ----*/
.scroll-up {
  position: fixed;
  right: 0;
  bottom: 30px;
  opacity: 0.5;
  display: none;
  cursor: pointer;
  .ba-scroll-up {
    width: 60px;
  }
}

/*---ARROW left rigth----*/
.arrowLeft, .arrowRight {
  z-index: 1;
  position: absolute;
  top: 50%;
  cursor: pointer;

}

.arrowLeft {
  left: -9%;

}

.arrowRight {
  right: -9%;
}

/*---DOTS----*/
.slick-dots li button:before {
  color: $white-color;
  content: " ";
  border: 1px solid #fff;
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.slick-dots li.slick-active button:before, .slick-dots li button:hover:before, .slick-dots li button:focus:before {
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
}

/***HOVER***/
.ba-share, label, .logo, .arrow-down, .ba-footer-logo, .ba-gallery-360 {
  cursor: pointer;
  transition: opacity .1s ease-in;
  &:hover {
    opacity: .6;
  }
}

.ba-projects-btn:nth-child(n):hover {
  cursor: pointer;
  background: $sans-color;
  color: $white-color;
  border: 2px solid $icons-color;
}
.ba-projects-city:hover,
.ba-projects-city .fa-map-marker:hover {
  cursor: pointer;
  color: $footer-color;
  text-decoration: underline;
}

