@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700");
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default fonts family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` fonts-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable fonts size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit fonts size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct fonts properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `fonts-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `fonts-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'gothambold1';
  src: url("../fonts/gothambold/gothambold1.eot");
  src: local("gothambold1"), url("../fonts/gothambold/gothambold1.woff") format("woff"), url("../fonts/gothambold/gothambold1.ttf") format("truetype"); }
@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype"); }
@font-face {
  font-family: 'Gotham Medium';
  src: local("Gotham Medium"), url("../fonts/Gotham Medium Regular/gotham-medium-webfont.woff") format("woff"), url("../fonts/Gotham Medium Regular/Gotham Medium Regular.ttf") format("truetype"); }
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
.fontsforweb_fontid_5903 {
  font-family: 'gothambold1' !important; }

.fontsforweb_fontid_10146 {
  font-family: 'GothamBook' !important; }

/***CHECkbox ***/
input[type="checkbox"] {
  display: none; }

label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 5px 0 0 0;
  vertical-align: middle;
  background: url(../img/nonechek.png) left top no-repeat;
  cursor: pointer; }

label:hover {
  background: url(../img/cheked.png) left no-repeat; }

/***ICONKI ***/
.ba-social {
  width: 22%;
  display: flex;
  justify-content: flex-end; }
  .ba-social .ba-button {
    padding: 14px; }
  .ba-social a {
    color: #fff;
    text-decoration: none; }
    .ba-social a a i.fa {
      font-size: 14px;
      text-align: center;
      display: block; }
    .ba-social a .ba-share {
      float: left;
      width: 30px;
      height: 30px;
      border: 2px solid #fff;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #7e5dfa; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../ajax-loader.gif") center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

*, *:after, *:before {
  margin: 0;
  box-sizing: border-box; }

body, div, ul, li, nav, p, a, img, input, span,
form, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 1600px;
  color: #fff;
  font-size: 18px;
  font-family: "GothamBook", sans-serif;
  line-height: 22px;
  text-transform: uppercase;
  display: block; }

.ba-projects-text {
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  color: #4b5562;
  line-height: 30px;
  font-size: 18px; }

.ba-projects-btn {
  margin-top: 40px;
  width: 195px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear; }

/***-------------------HEADER ***/
.ba-header {
  min-height: 100vh;
  background: url("../img/bgheaderrow.png") no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-bottom: 100px; }
  .ba-header .ba-header-nav {
    height: 70px;
    width: 85%;
    padding-top: 1.5%;
    padding-left: 10%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ba-header .ba-header-nav__logo {
      width: 27%;
      padding-right: 9%; }
    .ba-header .ba-header-nav__menu {
      width: 57%; }
      .ba-header .ba-header-nav__menu .menu {
        padding-right: 10%; }
  .ba-header .ba-header-slaid img {
    position: relative;
    top: -20px; }
  .ba-header .ba-contaiter-h {
    position: absolute;
    height: 600px;
    width: 990px;
    margin-left: 350px;
    top: 270px; }
    .ba-header .ba-contaiter-h .ba-header-title {
      font-size: 80px;
      letter-spacing: 4px;
      font-weight: bold; }
    .ba-header .ba-contaiter-h .ba-header-slogan {
      font-size: 18px;
      letter-spacing: 5.4px; }
  .ba-header .ba-header-arrow {
    position: absolute;
    left: 50%;
    bottom: 40px; }
  .ba-header .ba-header-slaider .slick-dots {
    right: -90px;
    top: 40%;
    width: 270px;
    bottom: auto;
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

/***-------------------PROJECTS***/
.ba-projects {
  color: #2c4058;
  text-align: center; }
  .ba-projects .line {
    margin-left: 47%;
    height: 2px;
    width: 100px;
    border-bottom: 3px solid #2c4058; }
  .ba-projects .title {
    font-size: 44px;
    padding: 30px 0 70px; }
  .ba-projects .ba-projects-wrapper {
    display: flex;
    flex-grow: 1;
    margin-top: 95px;
    margin-bottom: 210px; }
    .ba-projects .ba-projects-wrapper .ba-projects-square {
      width: 53%;
      position: relative; }
    .ba-projects .ba-projects-wrapper #sl2 {
      margin-left: 13%; }
    .ba-projects .ba-projects-wrapper div[class*=" square-"] {
      width: 585px;
      height: 470px; }
    .ba-projects .ba-projects-wrapper .square-frame {
      background-color: #55b7ff;
      position: absolute; }
    .ba-projects .ba-projects-wrapper .square-img {
      background: #2c4058 url(../img/joel-filipe-151697.png) 50% no-repeat;
      position: relative;
      left: 215px;
      bottom: -73px; }
    .ba-projects .ba-projects-wrapper .square-frame2 {
      background-color: #7e5aff;
      position: absolute;
      right: 0; }
    .ba-projects .ba-projects-wrapper .square-img2 {
      background: #2c4058 url(../img/photos-1284iH4Hjf4mhNgW.png) 50% no-repeat;
      position: absolute;
      right: 220px;
      top: 71px; }
  .ba-projects .ba-projects-article {
    width: 37%;
    margin-right: 11%;
    margin-top: 132px;
    text-align: left;
    position: relative; }
    .ba-projects .ba-projects-article .ba-projects-caption {
      font-size: 22px;
      line-height: 24px; }
    .ba-projects .ba-projects-article .ba-projects-subtitle {
      font-size: 44px;
      line-height: 24px;
      text-align: left;
      margin-bottom: 30px; }
    .ba-projects .ba-projects-article .none {
      display: none; }
    .ba-projects .ba-projects-article .ba-projects-city {
      margin-top: 48px;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      text-transform: none;
      line-height: 30px; }
    .ba-projects .ba-projects-article .fa-map-marker {
      color: #2c4058;
      font-size: 18px; }

/***-------------------NEWS***/
.row {
  padding: 140px 0 110px; }

.ba-news {
  background: url("../img/bgslaider.png") no-repeat;
  background-size: cover; }
  .ba-news .ba-news-slide {
    color: #fff; }
    .ba-news .ba-news-slide .line {
      border-color: #FFFFFF; }
    .ba-news .ba-news-slide .ba-news-wrapper {
      margin: auto;
      width: 68%;
      height: 550px;
      position: relative; }
      .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block {
        margin-right: 20px;
        width: 369px;
        height: 520px;
        background-color: #fff;
        color: #4b5562; }
        .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block__img {
          width: 100%;
          height: 240px;
          position: relative; }
          .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block__img .img-rectangl {
            width: 80px;
            height: 80px;
            position: absolute;
            background-image: url("../img/Rectangl.png");
            top: 35%;
            left: 36%; }
        .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block .ba-news-block__info {
          color: #2c4058;
          padding-top: 20px;
          padding-left: 20px;
          text-align: left; }
          .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block .ba-news-block__info h3 {
            font-size: 22px;
            line-height: 34px;
            padding-bottom: 20px; }
          .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block .ba-news-block__info .ba-news-author {
            padding-top: 30px; }
            .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block .ba-news-block__info .ba-news-author .author-img {
              float: left;
              padding-right: 25px; }
            .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block .ba-news-block__info .ba-news-author .author-info {
              color: #4b5562; }
            .ba-news .ba-news-slide .ba-news-wrapper .ba-news-block .ba-news-block__info .ba-news-author .author-date {
              font-size: 14px;
              color: #35b7ff; }

/***-------------------GALLERY ***/
.ba-gallery-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 74%;
  height: 450px;
  position: relative;
  float: none; }
  .ba-gallery-wrapper img {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px; }
  .ba-gallery-wrapper .ba-gallery-360 {
    width: 80px;
    height: 80px;
    background: url("../img/360.png");
    position: absolute;
    left: 21%;
    top: 37%; }

.ba-gallery .ba-projects-btn {
  margin: 0 auto; }

/***-------------------MAP ***/
#map {
  height: 705px;
  width: 100%; }

.ba-map-wrapper {
  position: relative; }
  .ba-map-wrapper .ba-card {
    background: url("../img/bgcontact.png") no-repeat;
    width: 770px;
    height: 455px;
    position: absolute;
    z-index: 3;
    top: 60%;
    left: 23%;
    padding: 60px 75px 75px; }
    .ba-map-wrapper .ba-card .line {
      margin-left: 42%; }
    .ba-map-wrapper .ba-card .title {
      padding-bottom: 40px;
      margin: 0; }
    .ba-map-wrapper .ba-card .contact, .ba-map-wrapper .ba-card .submit {
      line-height: 50px;
      text-transform: none;
      text-align: left; }
    .ba-map-wrapper .ba-card .contact {
      width: 50%;
      float: left; }
      .ba-map-wrapper .ba-card .contact .fa {
        color: #7e5aff; }
    .ba-map-wrapper .ba-card .submit {
      width: 100%;
      position: relative; }
      .ba-map-wrapper .ba-card .submit .submit-line {
        width: 50%;
        border-bottom: 1px solid #4b5562;
        display: inline-block; }
      .ba-map-wrapper .ba-card .submit input[type='text'] {
        border: none;
        height: 34px; }
      .ba-map-wrapper .ba-card .submit .forInput {
        opacity: 0.5; }
      .ba-map-wrapper .ba-card .submit input[placeholder]:focus {
        color: #7e5aff; }
      .ba-map-wrapper .ba-card .submit input:focus:-moz-placeholder {
        color: #7e5aff; }
      .ba-map-wrapper .ba-card .submit .ba-projects-btn {
        width: 140px;
        position: absolute;
        right: 0; }

/***-------------------FOOTER ***/
.ba-footer {
  height: 525px;
  background: url("../img/bgfooter.png") no-repeat;
  background-size: cover;
  position: relative;
  padding: 205px 26% 0; }
  .ba-footer .logo {
    position: absolute;
    left: 26%; }
  .ba-footer .ba-social {
    position: absolute;
    right: 26%; }
  .ba-footer .ba-footer-Copyright {
    width: 65%;
    padding-top: 100px;
    color: #fff;
    font-size: 14px;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ba-footer .ba-footer-Copyright .ba-footer-logo {
      display: inline-block;
      cursor: pointer;
      padding-right: 5%; }
    .ba-footer .ba-footer-Copyright .made {
      padding-left: 5%;
      border-left: 1px solid #fff; }

/*---SCROLL UP ----*/
.scroll-up {
  position: fixed;
  right: 0;
  bottom: 30px;
  opacity: 0.5;
  display: none;
  cursor: pointer; }
  .scroll-up .ba-scroll-up {
    width: 60px; }

/*---ARROW left rigth----*/
.arrowLeft, .arrowRight {
  z-index: 1;
  position: absolute;
  top: 50%;
  cursor: pointer; }

.arrowLeft {
  left: -9%; }

.arrowRight {
  right: -9%; }

/*---DOTS----*/
.slick-dots li button:before {
  color: #fff;
  content: " ";
  border: 1px solid #fff;
  border-radius: 50px;
  width: 10px;
  height: 10px; }

.slick-dots li.slick-active button:before, .slick-dots li button:hover:before, .slick-dots li button:focus:before {
  background-color: #fff;
  border-radius: 50%;
  opacity: 1; }

/***HOVER***/
.ba-share, label, .logo, .arrow-down, .ba-footer-logo, .ba-gallery-360 {
  cursor: pointer;
  transition: opacity .1s ease-in; }
  .ba-share:hover, label:hover, .logo:hover, .arrow-down:hover, .ba-footer-logo:hover, .ba-gallery-360:hover {
    opacity: .6; }

.ba-projects-btn:nth-child(n):hover {
  cursor: pointer;
  background: #4b5562;
  color: #fff;
  border: 2px solid #7e5aff; }

.ba-projects-city:hover,
.ba-projects-city .fa-map-marker:hover {
  cursor: pointer;
  color: #55b7ff;
  text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
