$main-font: 'gothambold1', sans-serif;
$book-font: 'GothamBook', sans-serif;
$medium-font: 'Gotham Medium', sans-serif;

$white-color: #fff;
$bold-color: #2c4058;
$sans-color: #4b5562;
$data-color: #35b7ff;
$icons-color: #7e5aff;
$footer-color: #55b7ff;



$font-weight: 400;
$main-height: 22px;
$reg-height: 24px;
$med-height: 30px;
$big-height: 34px;

$small-size: 14px;
$main-size: 18px;
$medium-size: 22px;
$bold-size: 44px;
$big-size: 80px;